body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(/images/main-image.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 36px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  line-height: 25px;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 15px;
  color: #fff;
}

.btn-wrapper {
  text-align: center;
  margin: 30px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #d23838;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
